.containerDespenses {
  font-family: var(--font-nunito);
  width: 560px;
  max-width: 560px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

@media screen and (min-width: 590px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.navigationFilter {
  display: flex;
  gap: 16px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-black);
}

.btnFilter:hover {
  background-color: var(--color-buttonPink);
  color: var(--color-white);
}

.listDespenses {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.transaction {
  list-style: none;
  max-width: 100%;
  max-width: 560px;
  border-radius: 4px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 8px 13px 11px 18px;
  border-left: 4px solid var(--color-backgroundButton);
}

.positiveEntries {
  list-style: none;
  max-width: 100%;
  max-width: 560px;
  border-radius: 4px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 9px;
  border-left: 4px solid var(--color-borderEntries);
  padding: 8px 13px 11px 18px;
}

.containerTransaction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
}

.description {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-black);
  margin: 0;
  width: 60%;
  text-align: start;
}

.containerTransactionRight {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.value {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--color-black);
  margin: 0;
  padding-left: 10px;
}

.btnDelete {
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 2.46154px;
  align-self: flex-start;
}

.btnDelete > img {
  width: 10px;
  height: 10px;
}

.type {
  align-self: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--color-blackButton);
}
